extends ../layout/base.pug
block content
    - var activePage = 'test-kits'
    include ../layout/_sidebar.pug  
    include ../layout/_header.pug
    include _filters.pug
    //modal qr code
    #modal-qr-code.modal.modal-blur.fade(tabindex='-1' role='dialog' aria-hidden='true')
      .modal-dialog.modal-sm.modal-dialog-centered(role='document')
        .modal-content
          .modal-body
            .modal-title TK1001
            .d-flex.justify-content-center
              img(src='./images/qr-code.png' alt='TK1001')
          .modal-footer
            button.btn.btn-link(type='button' data-bs-dismiss='modal') Close

    .page-wrapper
      .page-header.d-print-none
        .container-xl
          .row.g-2.align-items-center
            .col
              h2.page-title Test Kits
            .col.text-end
              a.btn.btn-outline-primary.me-2(href="#" data-bs-toggle='offcanvas' data-bs-target='#offcanvasTestKitsFilter' aria-controls='offcanvasTestKitsFilter') Filters
              .btn.btn-outline-primary.dropdown-toggle( data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                | Export Test Kits
                .dropdown-menu.dropdown-menu-end
                  a.dropdown-item(href='#')
                    i.ti.ti-18px.me-2.ti-file-type-csv
                    | Export To CSV
                  a.dropdown-item(href='#')
                    i.ti.ti-18px.me-2.ti-file-type-pdf
                    | Export To PDF

              //- a.btn.btn-primary(href='test-kits-form.html') Create Test Kit
              
      .page-body
        .container-xl
          .col-12
            .card 
              .table-responsive
                table.table.table-vcenter.card-table.table-striped
                  thead
                    tr
                      th TestKit ID
                      th QR Code
                      th
                        a.text-secondary(href="")
                          | Customer
                          i.ti.ti-arrows-sort.ms-2 
                      th 
                        a.text-secondary(href="")
                          | Orders
                          i.ti.ti-arrows-sort.ms-2 
                      th 
                        a.text-secondary(href="")
                          | Product
                          i.ti.ti-arrows-sort.ms-2 
                      th 
                        a.text-primary(href="")
                          | Appointment
                          i.ti.ti-arrows-sort.ms-2
                      th Status
                  tbody
                    tr
                      td 
                        a(href="")
                          | TK1001
                      td
                        a(href="#" data-bs-toggle="modal" data-bs-target="#modal-qr-code")
                          i.ti.ti-18px.ti-qrcode
                      td  
                        a(href="/customers-view.html") TerraTech
                      td 2
                      td Energy Boost Supplement
                      td 22/01/2024
                      td Used
                    tr
                      td 
                        a(href="")
                          | TK1002
                      td
                        a(href="#")
                          i.ti.ti-18px.ti-qrcode
                      td 
                        a(href="#") GreenGrowth
                      td 4
                      td COVID-19 Test Kit
                      td 22/01/2024
                      td Unused
                    tr
                      td 
                        a(href="")
                          | TK1003
                      td
                        a(href="#")
                          i.ti.ti-18px.ti-qrcode
                      td 
                        a(href="#") BrightSolutions
                      td 5
                      td COVID-19 Test Kit
                      td 22/01/2024
                      td Delivered