extends ../layout/base.pug
block content
    - var activeMenu = 'customers'
    include ../layout/_sidebar.pug  
    include ../layout/_header.pug
    .page-wrapper
      .page-header.d-print-none
        .container-xl
          .row.g-2.align-items-center
            .col
              h2.page-title Customers
            .col.text-end
              a.btn.btn-outline-primary.me-2(href='#') Filters
              a.btn.btn-primary(href='/customers/form.html') Create Customer
      .page-body
        .container-xl
          .col-12
            .card 
              .table-responsive
                table.table.table-vcenter.card-table.table-striped
                  thead
                    tr
                      th Customer
                      th Type
                      th Orders
                      th Total Value
                      th
                  tbody
                    tr
                      td
                        a(href='#') John Doe
                      td Enterprise
                      td 1
                      td 2
                      td
                        a.btn.btn-link(href='#') Edit
                        a.btn.btn-link(href='#') Archive
                    tr
                      td
                        a(href='#') Jane Smith
                      td Distributor
                      td 1
                      td 2
                      td
                        a.btn.btn-link(href='#') Edit
                        a.btn.btn-link(href='#') Archive
                    tr
                      td
                        a(href='#') Emily Johnson
                      td Distributor
                      td 1
                      td 2
                      td
                        a.btn.btn-link(href='#') Edit
                        a.btn.btn-link(href='#') Archive