#offcanvasCreateOrder.offcanvas.offcanvas-end(tabindex='-1' aria-labelledby='offcanvasCreateOrder')
  .offcanvas-header
    h3.mb-0 Create Order
    button.btn-close.text-reset(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
  .offcanvas-body
    form
      .form-group.mb-3
        label.mb-1(for='customerSelect') Customer
        select#customerSelect.form-control(required)
          option(value='') Select a customer
          option(value='customer1') Customer 1
          option(value='customer2') Customer 2
          // Add more customer options

      .form-group.mb-3
        label.mb-1(for='orderTypeSelect') Order Type
        .w-100
          .btn-group(role='group')
            input#btn-radio-basic-1.btn-check(type='radio' name='btn-radio-basic' autocomplete='off' checked='')
            label.mb-1.btn(for='btn-radio-basic-1' type='button') Coupon
            input#btn-radio-basic-2.btn-check(type='radio' name='btn-radio-basic' autocomplete='off')
            label.mb-1.btn(for='btn-radio-basic-2' type='button') TestKits

      .form-group.mb-3
        label.mb-1(for='couponsQuantity') Coupons Quantity
        input#couponsQuantity.form-control(type='number' required)

      .form-group.mb-3
        label.mb-1(for='title') Title
        input#title.form-control(type='text')

      .form-group.mb-3
        label.mb-1(for='details') Details
        textarea#details.form-control(rows='3')

      .form-group.mb-3
        label.mb-1(for='couponBudget') Coupon Budget
        input#couponBudget.form-control(type='number' required)

      .form-group.mb-3
        label.mb-1(for='couponTotalPoints') Coupon Total Points
        input#couponTotalPoints.form-control(type='text')
      
      h3.card-title.mb-1 Product 1
      .form-fieldset.mb-3
        .form-group.mb-3
          label.mb-1(for='productNameSelect') Product Name
          select#productNameSelect.form-control(required)
            option(value='') Select a product
            option(value='product1') Product 1
            option(value='product2') Product 2
            // Add more product options

        .form-group.mb-3
          label.mb-1(for='testkitsQuantity') Coupons Quantity
          input#testkitsQuantity.form-control(type='number' required)

        .form-group.mb-3
          label.mb-1(for='productValue') Product Value
          input#productValue.form-control(type='number')

        .form-group.mb-3
          label.mb-1(for='pricePerProduct') Price Per Product
          input#pricePerProduct.form-control(type='number')

        .form-group.mb-3
          label.mb-1.form-check.form-switch
            input.form-check-input(type='checkbox')
            span.form-check-label.mb-1 Multi-selection Possibility
      button.btn.btn-outline-primary.mb-3(type='button') 
        i.ti.ti-plus.ti-18px.me-2
        | Product

      .form-group.mb-3
        label.mb-1(for='orderTotalPrice') Order Total Price
        input#orderTotalPrice.form-control(type='number')

      .form-group.mb-3
        label.mb-1(for='comment') Comment
        textarea#comment.form-control(rows='3')

      .form-group.mb-3
        label.mb-1(for='attachment') Attachment
        input#attachment.form-control(type='file')
  .offcanvas-footer.border-top
    button.btn.btn-primary.me-2(type='submit') Save Order
    button.btn.btn-outline-primary.me-2(type='button') Save and Add Another
    button.btn.btn-ghost-danger.me-2(type='button') Cancel
